
.sky-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh; /* Loop buffer */
    background-repeat: repeat;
    background-position: center top;
    image-rendering: pixelated; /* Keeps blocky edges sharp */
    pointer-events: none;
    z-index: -1;
    /* Hint to browser to keep this on the GPU */
    will-change: transform;
    transform: translate3d(0, 0, 0);
		overflow-y: hidden;
		overflow-x: hidden;
}



#layer-back { opacity: 0.2; z-index: -3; }
#layer-mid  { opacity: 0.4; z-index: -2; }
#layer-front { opacity: 0.7; z-index: -1; }

