:root {
 --filler-bg: url('images/stone.svg');
}

.sky-viewport {
  height: calc(102svh - var(--text-offset)) !important; /* Mobile UI fix */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: env(safe-area-inset-bottom, 0px);
	/* pointer-events: none; */
	z-index: 2;
}



.mc-scene {
  /* Keeps the blocky stone and jitters sharp */
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 100%;
	position: relative;
	height: auto;
	display: block;
	/* Apply the mask using a CSS variable we will update via JS */
	/* -webkit-mask-image: var(--biome-mask); */
	/* mask-image: var(--biome-mask); */
	
	/* -webkit-mask-size: 100% 100%; */
	/* mask-size: 100% 100%; */
	/* -webkit-mask-repeat: no-repeat; */
	/* mask-repeat: no-repeat; */

	/* This allows clicks to pass through transparent pixels to the background */
	pointer-events: none;
	z-index: 5;
}


.stone-filler {
		/* background-color: #808080; /* Matches front stone layer */
		position: relative;
    width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 2svh;
		padding-bottom: 2svh;
    min-height: 100svh;
		margin: 0;
		margin-top: -1vh; /* Seamless transition */
    z-index: 0; /* Ensures it stays behind all content */
    background-image: var(--filler-bg);
    background-size: 20% auto; 
    background-repeat: repeat;
    image-rendering: pixelated;
    pointer-events: none;
		contain: paint;
    /* transition: transform 0.3s ease; */
}


@media (orientation: landscape) {
  .sky-viewport {
    /* Adjusting to svw as requested */
		height: calc(100swh - var(--text-offset)) !important;
  }
	.mc-scene {
	}
	.title {
		visibility: hidden;
	}
	.title-image {
		visibility: hidden;
	}
}

.dimension-container {
	display: flex;
	flex-direction: column;
}

